/*
 * Icon Font romainarnaud-fr
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "romainarnaud-fr";
  src: url("../fonts/romainarnaud-fr_8524e553a983f99c18446cdd8f0e77c2.eot");
  src: url("../fonts/romainarnaud-fr_8524e553a983f99c18446cdd8f0e77c2.eot?#iefix") format("embedded-opentype"),
       url("../fonts/romainarnaud-fr_8524e553a983f99c18446cdd8f0e77c2.woff2") format("woff2"),
       url("../fonts/romainarnaud-fr_8524e553a983f99c18446cdd8f0e77c2.woff") format("woff"),
       url("../fonts/romainarnaud-fr_8524e553a983f99c18446cdd8f0e77c2.ttf") format("truetype"),
       url("../fonts/romainarnaud-fr_8524e553a983f99c18446cdd8f0e77c2.svg#romainarnaud-fr") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "romainarnaud-fr";
    src: url("../fonts/romainarnaud-fr_8524e553a983f99c18446cdd8f0e77c2.svg#romainarnaud-fr") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

[data-icons8]:before,
.icons8-checked:before,
.icons8-for-experienced:before,
.icons8-github:before,
.icons8-graduation-cap:before,
.icons8-home:before,
.icons8-linkedin:before,
.icons8-message:before,
.icons8-moderator-male:before,
.icons8-phone:before,
.icons8-resume:before {
  display: inline-block;
  font-family: "romainarnaud-fr";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-checked:before { content: "\f100"; }
.icons8-for-experienced:before { content: "\f101"; }
.icons8-github:before { content: "\f102"; }
.icons8-graduation-cap:before { content: "\f103"; }
.icons8-home:before { content: "\f104"; }
.icons8-linkedin:before { content: "\f105"; }
.icons8-message:before { content: "\f106"; }
.icons8-moderator-male:before { content: "\f107"; }
.icons8-phone:before { content: "\f108"; }
.icons8-resume:before { content: "\f109"; }